Django>=3.0
django-cors-headers
django-extensions
django-filter
djangorestframework
shortuuid
# django-cors-headers==3.5.0
# django-extensions==3.0.5
# django-filter==2.3.0
# djangorestframework==3.11.1
# shortuuid==1.0.1
